<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:spring-datasource.xml"/>
    <import resource="classpath*:spring-session-factory-mybatis.xml"/>
    <import resource="classpath*:spring-aop.xml"/>
    <import resource="classpath*:spring-activemq-base.xml"/>
    <!-- 自动扫描spring注解 -->
    <context:component-scan base-package="cn.itsource.aigou.service" />
</beans>